*
  box-sizing border-box

body
  background linear-gradient(left, 80% red, #000)
  font-size 12px
  font-weight bold
  line-height 1
  font-family Verdana, Geneva, sans-serif

  button
    border-radius 10px

  .foo
    border red

.header
  hide-text()

.main
  clearfix()
